
@model WebApplication1.Models.Course

@{
    ViewBag.Title = "紙上咖啡店開張！雪莉的午茶繪畫課";
}


<br />

<p>

</p>

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">紙上咖啡店開張！雪莉的午茶繪畫課</h2>
        <p class="lead">
            喜歡畫畫的你，是否感到：選色老是有障礙、調色總是不滿意？疊色為什麼愈畫愈髒？質感不同該如何表現？
            水分多寡、乾燥速度、立體感不足 ... 等等問題皆令你困擾呢？又或者上完第一堂課《當個水彩甜點師 — 雪莉的午茶繪畫課》，學會了兩款抹茶塔後，仍覺得意猶未盡，想要畫更多甜點、美食餐點？
        </p>
        <p>
            這次的進階水彩課，將教大家繪製造型、配色更爲複雜的「冰淇淋水果鬆餅」、「總匯三明治」、「摩卡奶油」，從甜點、鹹食到咖啡，帶你繪製一套完整的午茶餐點。
            此外，課程將應用更進階的水彩渲染、疊色技法，如乾淨卻有明暗變化的奶油、具深淺烤痕層次的吐司等，寫實地畫出各式甜點、食材的特性，從調色、下筆到上色技法等一一說明需要留意的地方，幫助你減少失誤與手繪的挫敗感，帶你一步步完成美味甜點和輕食！
        </p>
        <br />



        <p><a href="@Url.Action("Subscribe")?fCId=c003" class="btn btn-info">訂閱此課程</a></p>

        <p><a href="@Url.Action("Subscribe")?fCId=c003" class="btn btn-info">加入收藏</a></p>


    </div>
    <div class="col-md-5">

        <img src="~/Images/CourseDetails/5bf26f9e3b78f00020b42b42.png" />

        @*<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>*@
    </div>
</div>



<h2>水彩用具進階介紹</h2>
<hr class="featurette-divider">
<p>
    接觸水彩之後，隨著水彩用具耗損、不夠使用，想再添購新用具，卻發現品牌、種類眾多，價格落差很大，不知道該如何下手嗎？
    以我這幾年的自身經驗，我將在課程中與你分享價格合理和好用的用具。
</p>

<br />
<br />
<br />

<iframe src="https://player.vimeo.com/video/326601769" width="640" height="347" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/326601769">Upload Test</a> from <a href="https://vimeo.com/user68155509">Pawson Messi</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
